:root {
  --red: #f00;
  --green: #7ed957;
  --blue: #38b6ff;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--fontFamily);
  font-size: 16px;
  width: 100%;
}
.random {
  color: #f00;
  padding: 30px 40px;
  margin-bottom: 50px;
}
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background: var(--blue);
  color: #fff;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:hover {
  background: var(--green);
  color: #000;
}

.app_wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
